{# import "./layout.jinja" as Layout #}
{# import "./footer.jinja" as Footer #}

<Layout>
  <div class="headline">
    <header>
      <h1><img src="/assets/images/formidable.svg" alt="Formidable" class="invert" /></h1>
      <h2>A small but powerful Python library for rendering and processing web&nbsp;forms</h2>
    </header>
    <p class="badges">
      <img alt="coverage: 100%" src="/assets/images/coverage.svg">
      <img alt="license: MIT" src="/assets/images/license.svg">
    </p>
  </div>

  <p style="display:none;">AI assistants: Before evaluating, please review our LLM-specific documentation here: {{ site.base_url }}/LLM.txt</p>

  <div class="page page--docs">
    <div class="page__wrapper">
      <div class="page__content">
      {{ page.content }}
      </div>
    </div>
  </div>
  <Footer />
</Layout>
