.page__content h1,
.page__content h2,
.page__content h3 {
  font-family: var(--font-family-mono);
}

.page-index {
  background-image: linear-gradient(rgba(var(--rgb-base), 0.4) 4px, transparent 4px);
  background-size: 8px 8px;

  .headline {
    padding: 1rem;
    font-family: var(--font-family-mono);

    header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      max-width: 60rem;
      margin: 0 auto;
      font-weight: 500;

      h1 {
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
      }

      @media (min-width: 64rem) {
        padding: 4rem 4rem 0;

        h1 { font-size: 3rem; }
        h2 { font-size: 2rem; }
      }
    }

    .badges {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 2rem;
    }
  }

  .page__content {
    margin-left: auto;
    font-size: 1.1rem;
    max-width: 70rem;
    line-height: 1.7;

    @media (min-width: 64rem) {
      font-size: 1.3rem;
    }

    h2 {
      margin-top: 5rem;
      font-size: 2em;
    }
  }

  .card {
    display: inline-block;
    vertical-align: middle;
    border-radius: .75rem;
    border: 1px solid rgba(226, 232, 240, 0.3);
    padding: 2rem;
    width: 100%;
    margin: 1rem 0 0;
    background: rgba(var(--rgb-base), 0.5);

    h3 {
      margin-bottom: 1em;
    }

    @media (min-width: 64rem) {
      margin-right: 1rem;
      width: calc(50% - 2rem);
    }
  }

  .footer {
    display: flex;
    padding: 4rem 2rem;
    border-top: 1px solid var(--color-base-darker);
    width: 100%;
    background: var(--color-base);

    & > div {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 1rem;
      font-size: 1rem;
      letter-spacing: -0.01em;
      color: var(--color-gray-light);
      max-width: 100%;
    }
  }

  .btn-start {
    display: block;
    width: fit-content;
    margin: 3rem auto;
    text-decoration: none;
    font-family: monospace;
    font-weight: 700;
    background: var(--color-white);
    padding: 1rem 2rem;
    border: 2px solid var(--color-accent);
    border-radius: 8px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    transition: all var(--transition-slow);

    @media (max-width: 36rem) {
      width: 100%;
    }
  }
  .btn-start:hover {
    background: var(--color-gray);
    color: var(--color-white);
    border-color: var(--color-white);
  }
}