.headline {
  padding: 1rem;
  font-family: var(--font-family-mono);
}

.headline header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
  font-weight: 500;
}

.headline header h1 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.headline header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 64rem) {
  .headline {
    padding: 4rem;
  }
  .headline header h1 {
    font-size: 3rem;
  }
  .headline header h2 {
    font-size: 2rem;
  }
}

.page-index {
  background-image: linear-gradient(var(--color-base) 4px, transparent 4px);
  background-size: 8px 8px;
}

.page-index .page__content {
  margin-left: auto;
  font-size: 1.1rem;
  max-width: 70rem;
  line-height: 1.7;
}

@media (min-width: 64rem) {
  .page-index .page__content {
    font-size: 1.3rem;
  }
}

.footer {
  display: flex;
  padding: 4rem 2rem;
  border-top: 1px solid var(--color-base-darker);
  width: 100%;
  background: var(--color-base);
}

.footer div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  letter-spacing: -0.01em;
  color: var(--color-gray-light);
  max-width: 100%;
}
